# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RaulGuillen\Desktop\Competitive-Programming\ICPC Preparation\Data Structure\Hash Table (set)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
