# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\RaulGuillen\Desktop\Competitive-Programming\Codeforces\Codeforces Round #725 (Div. 3)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
