# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitHub\Competitive-Programming\ICPC Preparation\Introduction\Ad Hoc Problems - Part 1\Ches Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
